{% extends "base.html" %}

{% block content %}
<div class="p-5 text-center bg-image mt-3 masked align-items-center d-flex" style="
background-image: url('/static/about_us.jpg');
height: 300px;
background-size: cover;
background-position: center;
">
    <div class="container text-center text-white" >
        <h1 class="display-1">Om os</h1>
    </div>
</div>

<div class="container-fluid text-center pt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <p class="text-start">LC AutoEl-Teknik er en selvstændig mekanikervirksomhed drevet af Lasse Heide Christensen. 
          Vi tilbyder et bredt udvalg af autoelektriske reparationer og vedligeholdelse af biler. 
          Vores fokus er på at levere kvalitetsarbejde og pålidelig service, 
          så du som kunde kan få din bil tilbage på vejen hurtigt og effektivt.<br><br>
          Som en mindre virksomhed har vi et tæt forhold til vores kunder, 
          og vi stræber altid efter at levere den bedste service til den rette pris. 
          Vi arbejder med alle bilmærker og tilbyder alt fra fejlfinding og reparationer til montering af dæk og fælge.<br><br>
          Vores mål er at gøre det nemt for vores kunder at få deres bil repareret og vedligeholdt, 
          samtidig med at vi skaber et højt niveau af kundetilfredshed og tillid.</p>
      </div>
      <div class="col-4">
        <img src="/static/about_us.png" class="img-fluid" alt="Værkstedbilledet"
        style="height: 400px;">
      </div>
    </div>
</div>
{% endblock %}