{% extends "base.html" %}

{% block content %}
<!-- Hero Banner -->
<div class="p-5 text-center bg-image mt-3 d-flex align-items-center" style="
  background-image: url('static/services.jpg');
  height: 300px;
  background-size: cover;
  background-position: center;">
  <div class="container text-white">
    <h1 class="display-1">Vores services</h1>
  </div>
</div>

<!-- Heading -->
<div class="container pt-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h5 class="display-6">Vi tilbyder altid en fast lav pris på disse services</h4>
    </div>
  </div>
</div>

<!-- Info Paragraph -->
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      Hos LC AutoEl-Teknik tilbyder vi service og reparation af alle bilmærker – også el- og hybridbiler.
      Vi arbejder med elektriske systemer, klimaanlæg, fejlfinding og installation af ekstraudstyr.
      Med moderne diagnosetestere og stor teknisk erfaring sikrer vi pålidelig service til både private, erhverv og samarbejdspartnere.
    </div>
  </div>
</div>

<!-- Services Row -->
<div class="container text-center pt-5">
  <div class="row align-items-start text-dark">
    <div class="col bg-light rounded border m-2 p-3 pt-4 shadow">
      <h2 class="display-4">Lille service</h2>
      <p class="mb-4 text-secondary">Denne service indeholder:</p>
      <ul class="text-start ms-2">
        <li>Afmontering af hjul</li>
        <li>Visuel kontrol af bremser, styretøj, støddæmper, fjedre og hjulophæng</li>
        <li>Montering af hjul</li>
        <li>Kontrol af dæktryk</li>
      </ul>
      <h5 class="display-6 border-top pt-4"> 299,-</h5>
    </div>  

    <div class="col bg-light rounded border m-2 p-3 pt-4 shadow"
         style="background: linear-gradient(to bottom, #f5fcec, #fffef1);">
      <h2 class="display-4">Stor service</h2>
      <p class="mb-4 text-secondary">Denne service indeholder:</p>
      <ul class="text-start ms-2">
        <li>Afmontering af hjul</li>
        <li>Visuel kontrol af bremser, styretøj, støddæmper, fjedre og hjulophæng</li>
        <li>Montering af hjul</li>
        <li>Kontrol af dæktryk</li>
      </ul>
      <h5 class="display-6 border-top pt-4"> 299,-</h5>
    </div>  
  </div>
</div>

<div class="container text-center pt-5">
  <div class="row align-items-start text-dark">
    <div class="col bg-light rounded m-2 p-3 pt-4 shadow"
         style="background: linear-gradient(to bottom, #f5fcec, #fffef1);">
      <h2 class="display-4">Dækskifte</h2>
      <p class="mb-4 text-secondary">Denne service indeholder:</p>
      <ul class="text-start ms-2">
        <li>Afmontering af hjul</li>
        <li>Visuel kontrol af bremser, styretøj, støddæmper, fjedre og hjulophæng</li>
        <li>Montering af hjul</li>
        <li>Kontrol af dæktryk</li>
      </ul>
      <h5 class="display-6 border-top pt-4"> 299,-</h5>
    </div>  

    <div class="col bg-light rounded m-2 p-3 pt-4 shadow"
         style="background: linear-gradient(to bottom, #f5fcec, #fffef1);">
      <h2 class="display-4">Dækskifte</h2>
      <p class="mb-4 text-secondary">Denne service indeholder:</p>
      <ul class="text-start ms-2">
        <li>Afmontering af hjul</li>
        <li>Visuel kontrol af bremser, styretøj, støddæmper, fjedre og hjulophæng</li>
        <li>Montering af hjul</li>
        <li>Kontrol af dæktryk</li>
      </ul>
      <h5 class="display-6 border-top pt-4"> 299,-</h5>
    </div> 

  </div>
</div>
<!-- End of Services Row -->
{% endblock %}